.search {
    position: relative;
    width: 100%;
}

.input input {
    width: 100%;
}

.btn {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 3px;
    right: 3px;
    padding: 7px;
}