.firstLevel {
    display: grid;
    grid-template-columns: 24px 1fr;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 500;
}

.firstLevelActive,
.firstLevel:hover {
    color: var(--primary);
}

.firstLevelActive svg,
.firstLevel:hover svg {
    fill: var(--primary)
}

.secondLevel {
    margin-bottom: 10px;
    cursor: pointer;
    text-transform: uppercase;
    color: var(--gray-dark);
    font-weight: 300;
    font-size: 12px; 
    outline-offset: -1px;
}

.secondLevel:focus {
    outline: 1px solid var(--primary);
}

.secondLevelBlock {
    overflow: hidden
}



.secondBlock {
    margin-top: 15px;
    margin-left: 12px;
    padding-left: 32px;
    border-left: 1px solid #dfdfdf;
}

.thirdLevel {
    margin-bottom: 10px;
    display: block;
    cursor: pointer;
    text-transform: none;
    color: var(--gray-dark);
    font-weight: 500;
    font-size: 14px;
    outline-offset: -1px;
}

.thirdLevel:focus {
    outline: 1px solid var(--primary);
}

.thirdLevelActive, 
.thirdLevel:hover {
    color: var(--primary);
}