.reviewForm {
	display: grid;
	grid-template-columns: [start] auto 1fr auto [end];
	align-items: center;
	justify-content: left;
	font-size: 14px;
	line-height: 24px;
	gap: 20px 30px;
}

.description,
.submit {
	grid-column: start / end;
}

.title {
	justify-content: left;
}

.submitBtn {
	margin-right: 15px;
}

.rating {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 15px;
}

.panel {
	position: relative;
	margin-top: 20px;
	padding: 30px;
	border-radius: 5px;
}

.success {
	background: var(--green-light);
}

.successTitle {
	margin-bottom: 10px;
	font-weight: bold;
}

.error {
	background-color: var(--red-light);
}

.close {
	position: absolute;
	top: 20px;
	right: 20px;
	border: none;
	background: transparent;
}

.error .close path {
	stroke: var(--red);
}

@media (max-width: 1200px) {
	.reviewForm {
		grid-template-columns: [start] 1fr 1fr [end];
	}

	.rating {
		grid-column: start / end;
	}

	.title {
		justify-self: normal;
	}
}

@media (max-width: 640px) {
	.reviewForm {
		grid-template-columns: [start] 1fr [end];
	}
}
