html,
body {
	margin: 0;
	padding: 0;
	background: var(--background);
	color: var(--black);
	font-family: var(--font-family);
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

:root {
	--black: #3B434E;
	--gray-light: #ebebeb;
	--gray-dark: #787D85;
	--gray: #A4A4A4;
	--white: white;
	--primary: #7653FC;
	--primary-hover: #6344DF;
	--red: #FC836D;
	--green: #1DC37E;
	--green-light: #C8F8E4;
	--font-family: "Noto Sans", "Noto Sans KR", sans-serif;
	--background: #F5F6F8;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}

	body {
		background: black;
		color: white;
	}
}
